html,
body,
#viewDiv, #viewDiv3d {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#basemapStyles {
    width: 250px;
    padding: 10px;
  }

#basemapLanguage {
    width: 200px;
    padding: 10px;
}